@model toupiao.Areas.zvote.Models.ZVote
@using toupiao.Areas.zvote.Models

@{
    ViewData["Title"] = "Create";
    var IsEdit = Convert.ToBoolean(ViewData["IsEdit"]);
    var Action = IsEdit ? "Edit" : "Create";
}

<hr />
<div class="row">
    <div class="offset-md-1 col-md-10 text-center">

        <h1>新的投票</h1>
  

        <form asp-action="@Action" id="zvote_create_form" 
              enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description"
                          class="form-control"
                          rows="5"></textarea>

                <span asp-validation-for="Description"
                      class="text-danger"></span>
            </div>

            <div class="form-group">

                <div class="row">
                    <div class="col col-6 ">

                        <label asp-for="DOStart" class="control-label"></label>
                        <span class="text-info">(默认为立即发布)</span>
                        <input asp-for="DOStart" class="form-control" />

                        <span asp-validation-for="DOStart" class="text-danger"></span>
                    </div>

                    <div class="col col-6 ">

                        <label asp-for="DOEnd" class="control-label"></label>
                        <input asp-for="DOEnd" class="form-control" />

                        <span asp-validation-for="DOEnd" class="text-danger"></span>
                    </div>

                </div>
            </div>



            <div class="row">

                <div class=" col col-3 form-group">
                    <label asp-for="XuanxiangA" class="control-label"></label>
                    <textarea asp-for="XuanxiangA"
                              class="form-control"
                              rows="2"></textarea>
                    <span asp-validation-for="XuanxiangA"
                          class="text-danger"></span>
                </div>

                <div class=" col col-3  form-group">
                    <label asp-for="XuanxiangB" class="control-label"></label>
                    <textarea asp-for="XuanxiangB"
                              class="form-control"
                              rows="2"></textarea>
                    <span asp-validation-for="XuanxiangB"
                          class="text-danger"></span>
                </div>

                <div class="  col col-3 form-group">
                    <label asp-for="XuanxiangC" class="control-label"></label>
                    <textarea asp-for="XuanxiangC"
                              class="form-control"
                              rows="2"></textarea>
                    <span asp-validation-for="XuanxiangC"
                          class="text-danger"></span>
                </div>

                <div class=" col col-3  form-group">
                    <label asp-for="XuanxiangD" class="control-label"></label>
                    <textarea asp-for="XuanxiangD"
                              class="form-control"
                              rows="2"></textarea>
                    <span asp-validation-for="XuanxiangD"
                          class="text-danger"></span>
                </div>


                <div class="col col-auto align-self-center mb-4 ">

                    <label asp-for="CoverImage" class="control-label"></label>
                    @if (Model.CoverPath?.Length > 1)
                    {
                        <span class="text-info">已选
                            <a href="@( Url.Action("Public", "GetFile",
                                new { FileName = Model.CoverPath }) )">
                                @( Url.Action("Public", "GetFile",
                                new { FileName = Model.CoverPath }) )
                            </a>
                        </span>
                    }
                    <input asp-for="CoverImage" class="form-control"
                           type="file" accept="image/*" />

                    <span asp-validation-for="CoverImage" class="text-danger">

                    </span>
                </div>
            </div>

            
            <div class="form-group">

                <a asp-action="Index" class="btn btn-info">&laquo; 返回</a>
                <input type="submit" class="zl-form-input" hidden />
                <a class="btn btn-primary zlsubmit">确定&raquo;</a>
            </div>

        </form>
    </div>
</div>

@section Scripts
{

    <partial name="_ValidationScriptsPartial" />

    <script>
        var is_form_valid = true;

        $(document).on('change', '.d-o-start-date,.d-o-start-time',
            (event) => {

                $('#DOStart').val(
                    $('.d-o-start-date').val() + "T" +
                    ($('.d-o-start-time').val()||'00:00')
                );
            });

        $(document).on('change', '.d-o-end-date,.d-o-end-time',
            (event) => {

                var end_datetime = $('.d-o-end-date').val() + "T"
                    + ($('.d-o-end-time').val() || '00:00');


                // 结束时间要大于开始时间
                is_form_valid = ((
                    new Date($('#DOStart').val()) < new Date(end_datetime)) &&
                    // 结束时间要大于现在
                    (new Date() < new Date(end_datetime)));


                if (!is_form_valid) {
                    zlalert('没开始就结束的投票是没有的! 要有信心! 加油!');
                } else {
                    $('#DOEnd').val(end_datetime);
                }
        });

        $(document).on('click', '.zlsubmit', (event) => {
            // 防止默认事件(提交)被触发
            event.preventDefault();

            if (is_form_valid) {
                $('.zl-form-input').click();
            }
            else {
                zlalert('填写有误, 好好检查下吧!');
            }
        });
    </script>
}
