@{
    ViewData["Title"] = Localizer[ "Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Zl vote"]</h1>
    <p>
        <a >@Localizer["欢迎来到文山学院投票系统"]！ @ViewData["TEST"]</a>.
    </p>
</div>
