
@*
    For more information on enabling MVC for empty projects, visit 
    http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="创建人/标题"
            aria-label="搜索" aria-describedby="zvote_search"
           id="index_search_input">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"
                id="index_search">
            搜索
        </button>
    </div>
</div>