@page
@model LoginModel
<div class="offset-md-4 col-md-4 text-center">
        @{
            ViewData["Title"] = "请您先登录!";
        }

        <h1>@ViewData["Title"]</h1>
 </div>

<div class="row">
    <div class="offset-md-4 col-md-4 text-center">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">忘记密码?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">没有账号? 去注册</a>
                    </p>
                    @{ /*
                      <p>
                          <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">已注册! 再次验证</a>
                      </p>
                      */}

                </div>
            </form>
        </section>
    </div>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
